:root {
  --dark-blue: #0a3871;
  --main-color: #f3f5fc;
  --light-blue: #d8dfe8;
  --inter-font: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-color);
  font-family: var(--inter-font);
}
header {
  margin-bottom: 5rem;
  width: 60%;
  background-color: transparent;
}
main {
  display: flex;
  justify-content: space-around;
}

header img {
  width: 200px;
  height: 70px;
}

.form__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70dvh;
}
.form__input {
  width: 100%;
  max-width: 577px;
  border-color: transparent;
  height: 64dvh;
  outline: none;
  background: transparent;
  font-size: 3.2rem;
  color: var(--dark-blue);
  margin-bottom: 3rem;
  overflow: auto;
}

::placeholder {
  color: var(--dark-blue);
}
.alert__msj {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.submit__container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.form__btn {
  background: var(--dark-blue);
  color: white;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  border: 1px solid var(--dark-blue);
}

.form__btn--secondary {
  background: transparent;
  color: var(--dark-blue);
  font-size: 1.6rem;
  padding: 1rem 2rem;
  width: 328px;
  height: 67px;
  border-radius: 24px;
}

.result {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9rem;
  height: 100dvh;
  border-radius: 32px;
  max-width: 40rem;
  width: 100%;
}
.hidden {
  display: none;
}

.result__img {
  display: block;
}

